/* Lógica para esconder/mostrar os ícones de tema */
.sun-icon {
  display: none;
}
.moon-icon {
  display: block;
}
.light-theme .sun-icon {
  display: block;
}
.light-theme .moon-icon {
  display: none;
}
.dark-mode-active .sun-icon {
  display: block; /* Mostra o ícone do sol */
}

.dark-mode-active .moon-icon {
  display: none; /* Esconde o ícone da lua */
}
