<footer class="footer-component bg-dark flex items-center justify-between rounded-md">


  <div class="footer-decorations flex items-center gap-6 pl-0">
    <!-- Logo colada no canto -->
    <img src="assets/images/footer_image.png" alt="Logo" class="h-18 w-auto object-contain">

    <div class="flex items-center gap-3">
      <a href="#" target="_blank" class="hover:opacity-80 transition-opacity">
        <img src="assets/icons/git_logo.svg" alt="GitHub" class="h-12 w-12">
      </a>
      <a href="#" target="_blank" class="hover:opacity-80 transition-opacity">
        <img src="assets/icons/alpha_logo.svg" alt="Angular" class="h-14 w-14">
      </a>
    </div>
  </div>

  <div class="footer-info flex items-center divide-x divide-secondary mr-4">
    <div class="info-box text-left px-4">
        <h4 class="font-sans text-xs text-secondary">Servidor FTP:</h4>
        <p class="font-sans text-base font-bold text-white truncate">http://192.168.1.100:8080</p>
    </div>

    <div class="info-box text-left px-4">
        <h4 class="font-sans text-xs text-secondary">Servidor HTTP:</h4>
        <p class="font-sans text-base font-bold text-white truncate">http://192.168.1.100:8080</p>
    </div>
  </div>

</footer>