<aside 
  class="text-white p-6 rounded-lg flex flex-col justify-center items-center gap-6"
  style="
    width: 250px;              /* afina o retângulo */
    height: calc(100vh - 90px);             /* ocupa toda a altura da janela */
    background-color: var(--color-dark);
    background-image: 
      linear-gradient(rgba(25, 25, 27, 0.8), rgba(25, 25, 27, 0.8)),
      url('assets/images/sidebar_image.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  "
>
  <div class="sidebar-title text-center ">
    <h2 class="font-sans font-light text-xl text-white">Informações</h2>
    <h1 class="font-saved text-3xl text-accent-light leading-none">GERAIS</h1>
    <h2 class="font-sans font-light text-xl text-white">das redes</h2>
  </div>

  <div class="sidebar-stats-circle flex flex-col items-center gap-4">
      
    <div class="relative w-40 h-40">
      <img src="assets/images/circle_sidebar.svg" alt="Círculo de estatísticas de download" class="absolute inset-0">
      
      <div class="relative z-10 w-full h-full flex flex-col items-center justify-center">
        <span class="font-sans text-secondary text-sm">DOWNLOAD</span>
        <span class="font-sans font-bold text-3xl text-white">36<span class="text-xl ml-1">Mb</span></span>
      </div>
    </div>

    <div class="relative w-40 h-40">
      <img src="assets/images/circle_sidebar.svg" alt="Círculo de estatísticas de upload" class="absolute inset-0">
      
      <div class="relative z-10 w-full h-full flex flex-col items-center justify-center">
        <span class="font-sans text-secondary text-sm">UPLOAD</span>
        <span class="font-sans font-bold text-3xl text-white">45<span class="text-xl ml-1">Mb</span></span>
      </div>
    </div>

  </div>


  <div class="sidebar-info-box flex flex-col gap-2">

    <div class="info-box bg-dark p-3 rounded-md">
      <h3 class="font-sans font-light text-xs text-accent-light">Clientes (IPs) Conectados:</h3>
      <p class="font-sans text-lg font-bold text-white">04 CLIENTES (IPs)</p>
    </div>

    <div class="info-box bg-dark p-3 rounded-md">
      <h3 class="font-sans font-light text-xs text-accent-light">Top Talker:</h3>
      <p class="font-sans text-lg font-bold text-white">192.168.1.100</p>
    </div>
    
  </div>

</aside>
